/*Renay Hernandez*/


/*Start of reset styles*/


/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*End of reset styles*/

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
 :root {
    font-size: 16px;
    /*color palette*/
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --select-border: var(--purple);
    --select-focus: var(--teal);
    --select-arrow: var(--select-border);
}

body {
    line-height: 1.35;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
}


/*skip link styles begin*/

#skip {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    height: auto;
    width: auto;
}


/*Skip link styles end*/


/*Nested menu begins*/

#menu-toggle {
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu-toggle a {
    text-decoration: none;
    color: var(--black);
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#menu-toggle a:hover {
    color: var(--white);
    background-color: var(--black);
}

#menu-toggle input {
    display: block;
    width: 120px;
    height: 29px;
    position: absolute;
    top: -3px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menu-toggle label {
    position: relative;
    display: block;
    width: 125px;
    height: 30px;
    background-color: var(--yellow);
    text-align: center;
}

#menu-toggle ul {
    position: absolute;
    width: 320px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    /* Hide the menu off-screen to the left */
    top: -300%;
    left: 45px;
    -webkit-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
}

#menu-toggle li {
    padding: 10px 0;
    font-size: 22px;
    border: 1px solid var(--black);
}

#menu-toggle input:checked~ul {
    top: 0;
    background-color: var(--teal);
    display: grid;
    grid-template-columns: 1fr;
    max-width: 320px;
    grid-gap: 1rem;
    justify-items: center;
}


/*Nested menu ends*/

header {
    background-image: linear-gradient(var(--teal), var(--white));
    padding: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

h1 {
    display: grid;
    grid-row: 2/3;
    font-size: 30px;
    grid-column: 1/span 3;
}

header p {
    display: grid;
    grid-row: 3/span 3;
    grid-column: 1/span 4;
}

header div {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: grid;
    grid-column: 2/span 2;
}


/*h2 hidden styles*/

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/*Variable font styles begin*/

h1,
h2,
h3 {
    font-family: 'Molle', cursive;
}

h2 {
    font-size: 40px;
}

h4,
p,
q,
small,
nav,
button,
form {
    font-family: 'Montserrat', sans-serif;
}


/*Variable font styles end*/


/*Global Styles*/

main {
    max-width: 1080px;
    width: calc(100% -2rem);
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

main section {
    margin: 1rem auto;
}

q {
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    block-size: auto;
}

#img-grid {
    display: grid;
    grid-gap: 1rem;
}

#intro p {
    font-size: 16px;
}

#intro img {
    width: 100%;
}


/*plan styles*/

#plan {
    background-color: var(--yellow);
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#plan h3 {
    font-size: 35px;
}

#plan div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

#plan h4 {
    font-size: 20px;
    font-weight: bold;
}

#plan section {
    display: grid;
    justify-items: center;
    background-color: var(--teal);
    border-radius: 5px;
    border: 2px solid var(--white);
}

#plan section img {
    width: 65%;
}


/*testimonial styles*/

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
}

#testimonials section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#testimonials h3 {
    font-size: 40px;
}

#testimonials h4 {
    font-size: 25px;
    font-weight: bold;
}

#testimonials q {
    text-align: center;
}

#testimonials img {
    width: 50%;
}


/*about styles*/

#about {
    background-color: var(--blue);
    display: grid;
    padding: 1rem;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

#about section {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr;
}

#about h3 {
    font-size: 25px;
}

#about h4 {
    font-size: 20px;
    font-weight: bold;
}

#about img {
    width: 50%;
}

#contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
}

#contact h3 {
    font-size: 25px;
    font-weight: bold;
}

fieldset {
    display: grid;
}

fieldset label {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-start: 1;
    grid-column-end: -1;
}

#names {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr;
}

#names label {
    font-weight: bold;
}

#nums {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}

#nums legend {
    font-weight: bold;
}

#nums label[for="email"],
#nums label[for="phone"] {
    font-weight: bold;
}

#selects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

#selects label[for="destination"],
#selects label[for="travelTime"] {
    font-weight: bold;
}

.required {
    color: var(--purple);
}

input {
    border: 2px solid var(--purple);
}

.custom-select {
    border: 1px solid var(--purple);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: var(--purple);
    width: 2em;
    height: 2em;
    border: 0.15em solid var(--purple);
    border-radius: 70%;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple);
}

input[type="radio"]:checked::before {
    transform: scale(2);
}

::placeholder {
    color: var(--dark-gray);
}

.custom-select {
    display: grid;
    border-radius: 2px var(--purple);
}

#mySubmit {
    background-color: var(--purple);
    color: var(--white);
    height: 45px;
    font-family: 'Montserrat';
    font-weight: bold;
}


/*footer styles*/

footer {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    background-color: var(--light-gray);
}

footer p {
    display: grid;
}

footer a {
    text-decoration: none;
    color: var(--black);
    font-family: 'Montserrat';
}


/*media queries begin*/


/*tablet styles*/

@media screen and (min-width:768px) {
    /*header styles*/
    header {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }
    h1 {
        grid-row: 1/2;
        font-size: 40px;
    }
    header p {
        grid-row: 2/span 3;
        grid-column: 2/-2;
    }
    header nav {
        position: relative;
        display: inline-block;
        top: 25px;
    }
    #menu-toggle {
        display: grid;
    }
    #menu-toggle label {
        opacity: 0;
    }
    #menu-toggle ul {
        position: absolute;
        z-index: 1;
        width: 240px;
        top: -63px;
        left: -413px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
    #menu-toggle li {
        background-color: var(--white);
        display: grid;
        grid-template-columns: 1fr;
        padding: 5px;
        width: 150px;
    }
    #menu-toggle li:hover {
        background-color: var(--yellow);
    }
    #menu-toggle a:hover {
        background-color: var(--yellow);
        color: var(--black);
    }
    nav a {
        display: block;
        text-align: center;
        font-weight: bold;
    }
    /*intro styles*/
    #intro {
        display: grid;
        grid-template-columns: 1fr;
        padding: 2rem;
    }
    #img-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0rem;
    }
    #img-grid img {
        display: grid;
    }
    #img-grid picture {
        display: grid;
        grid-column: 1/span2;
    }
    /*plan styles*/
    #plan h3 {
        display: grid;
    }
    #plan div {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #plan section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    /*testimonials styles*/
    #testimonials h3 {
        padding: 1rem;
    }
    #testimonials div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #testimonials img {
        width: 75%;
    }
    /*about styles*/
    #about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #about h3 {
        display: grid;
        padding: 1rem;
    }
    #about div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    /*contact styles*/
    #contact {
        padding: 3rem;
        grid-template-rows: 1fr;
    }
    #mySubmit {
        display: grid;
    }
    /*footer styles*/
    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 1rem;
    }
    footer p {
        display: grid;
    }
    footer a {
        display: grid;
    }
}

@media screen and (min-width:1920px) {
    main {
        max-width: 1920px;
    }
    /*header styles*/
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    header h1 {
        grid-row: 1/2;
        grid-column: 1/span3;
    }
    header a {
        display: grid;
    }
    header img {
        height: 100%;
        width: 100%;
        grid-column: 1/2;
    }
    header p {
        grid-row: 2/3;
    }
    /*intro styles*/
    #intro {
        max-width: 1920px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }
    #intro h2 {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #intro p {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    /*plan styles*/
    #plan div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #plan section img {
        width: 100%;
    }
    /*testimonials styles*/
    #testimonials div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #testimonials div section img {
        height: auto;
        width: 75%;
    }
    /*contact styles*/
    #contact {
        padding: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contact form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}